@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="width:80px;background:black">
        <NavMenu />
    </div>

    <mai class="container-fluid" style="background:white;">
        
            @Body
       
    </mai>
</div>
