@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

</div>
